*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}